.footer {
  width: 100vh;
  height: 70px;
  border: 1px solid rgb(0, 251, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* .title {
  color: blue;
  font-size: 50px;
} */
